
<div class="container">
<h1>Todo Application</h1><div class="container">
  <hr>
  <form (ngSubmit)="onSubmitTask(taskForm)" #taskForm="ngForm" >
    <div class="form-group">
      <label for="taskFieldId">Task</label>
      <input
        type="text"
        class="form-control"
        id="taskFieldId"
        placeholder="Enter task"
        ngModel
        name="taskControl"
      />
      <small id="erroMessage" class="form-text text-danger">
        Required field
      </small>
    </div>

    <button id="submitButton" type="submit" class="btn btn-primary">Submit</button>
  </form>

  <hr>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Task</th>
        <th scope="col">Completed</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let currentTask of taskArray; index as currentIndex">
        <td>{{currentTask.taskName}}</td>
        <td><input id="myCheckbox" type="checkbox"></td>
        <td><button class="btn btn-danger btn-sm" (click)="onDelete(currentIndex)">Delete</button></td>
      </tr>

    </tbody>
  </table>

</div>
