
<div class="container">
<h1>Todo Application</h1><div class="container">
  <hr>
  <form>
    <div class="mb-3">
      <label for="taskFieldId" class="form-label">Task</label>
      <input
        type="text"
        class="form-control"
        id="taskFieldId"
      />
      <div id="erroMessage" class="form-text text-danger">
        Required field
      </div>
    </div>
  
   
    <button type="submitButton" class="btn btn-primary">Submit</button>
  </form>

  <hr>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Task</th>
        <th scope="col">Completed</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Brush teeth</td>
        <td><input id="myCheckbox" type="checkbox"></td>
        <td><button class="btn btn-danger btn-sm">Delete</button></td>
      </tr>
    </tbody>
  </table>

</div>
